@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="easyasnet" />
    <meta name="description" content="Ytongakademi.com üzerinden Yıldız Teknik Üniversitesi gazbeton ders notlarına erişin!" />
    <meta name="keywords" content="gazbeton ders notları, ytu ytong, ytu ytong akademi, yıldız teknik ytong" />
    <meta name="content-language" content="tr">
    <meta name="audience" content="all">
    <meta name="googlebot" content="Index, Follow">
    <meta name="robots" content="index,follow,archive">
    <meta name="copyright" content="ytongakademi.com">
    <meta name="distribution" content="Global">
    <meta name="rating" content="all">
    <meta name="resource-type" content="document">
    <meta name="revisit-after" content="1 days">
    <meta name="googlerobot" content="https://ytongakademi.com/keywords.txt">

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Dersler | Ytong Akademi</title>

    <!-- Google tag (gtag.js) (Google Analytics) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113257663-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-113257663-1');
    </script>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo="images/akademi_l.png"><img src="images/akademi_l.png" alt="Ytong Akademi Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo="images/akademi_l.png"><img src="images/akademi_l.png" alt="Ytong Akademi Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="mega-menu"><a href="akademi.html"><div>AKADEMİ</div></a></li>
                            <li>
                                <a href="#"><div>DERSLER</div></a>
                                <ul>
                                    <li><a href="y-a-login.html"><div><i class="icon-stack"></i>YILDIZ TEKNİK ÜNİVERSİTESİ</div></a></li>
                                    <li><a href="y-m-login.html"><div><i class="icon-stack"></i>MİMAR SİNAN GÜZEL SANATLAR ÜNİVERSİTESİ</div></a></li>
                                </ul>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div>MİMARİ FİKİR YARIŞMASI</div></a>
                                <div class="mega-menu-content style-2 clearfix">
                                    <ul class="mega-menu-column col-lg-4">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>KATILIM</div></a>
                                            <ul>
                                                <li><a href="sartname.html"><div>ŞARTNAME</div></a></li>
                                                <li><a href="https://basvuru.ytongakademi.com/" target="_blank"><div>BAŞVURU FORMU</div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="mega-menu-column col-lg-4">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>KAYNAKLAR</div></a>
                                            <ul>
                                                <li><a href="juri.html"><div>JÜRİ</div></a></li>
                                                <li><a href="oduller.html"><div>ÖDÜLLER</div></a></li>
                                                <li><a href="videolar.html"><div>JÜRİ VİDEOLARI</div></a></li>
                                                <li><a href="sss.html"><div>SORU/YANIT?</div></a></li>
                                                <li><a href="raportorluk.html"><div>RAPORTÖRLÜK</div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="mega-menu-column col-lg-4">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>SONUÇLAR</div></a>
                                            <ul>
                                                <!-- <li><a href="sonuclar.html"><div>SONUÇLAR</div></a></li> -->
                                                <li><a href="odullu-projeler.html"><div>ÖDÜLLÜ PROJELER</div></a></li>
                                                <!-- <li><a href="projeler.asp"><div>PROJELER</div></a></li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#"><div>EĞİTİM VE ETKİNLİKLER</div></a>
                                <ul>
                                    <li><a href="universite-seminerleri.html"><div><i class="icon-stack"></i>ÜNİVERSİTE SEMİNERLERİ</div></a></li>
                                    <li><a href="sirket-kurum-seminerleri.html"><div><i class="icon-stack"></i>ŞİRKET/KURUM SEMİNERLERİ</div></a></li>
                                </ul>
                            </li>
                            <li><a href="iletisim.html"><div>İLETİŞİM</div></a></li>
                            <li><a href="dijital-kolokyum.html"><div>DİJİTAL KOLOKYUM</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>DERSLER</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="y-a-login.html">Dersler</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giriş</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                        <div class="tab-container">

                            <div class="tab-content clearfix" id="tab-login">
                                <div class="card nobottommargin">
                                    <div class="card-body" style="padding: 40px;">
                                        <form id="login-form" name="login-form" class="nobottommargin" asp-controller="Auth" asp-action="Index" method="post">

                                            <h3>Giriş Yapın</h3>

                                            <div class="col_full">
                                                <label for="login-form-username">Kullanıcı Adı:</label>
                                                <input type="text" required id="login-form-username" name="username" value="" class="form-control" />
                                            </div>

                                            <div class="col_full">
                                                <label for="login-form-password">Şifre:</label>
                                                <input type="password" required id="login-form-password" name="password" value="" class="form-control" />
                                            </div>

                                            <div class="col_full nobottommargin">
                                                <button class="button button-3d button-black nomargin" type="submit" id="login-form-submit" name="login-form-submit" value="login">GİRİŞ</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <img src="images/ytong-akademi-logo-footer.png" alt="Footer Logo" class="footer-logo">

                        Ytong &copy; 2019 Tüm hakları saklıdır.
                    </div>

                    <div class="col_half col_last tright">
                        <div class="copyrights-menu copyright-links fright clearfix">
                            <a href="#">Anasayfa</a>/<a href="#">Akademi</a>/<a href="#">Dersler</a>/<a href="#">Yarışma</a>/<a href="#">Yayınlar</a>/<a href="#">İletişim</a>
                        </div>
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
                                <i class="icon-yahoo"></i>
                                <i class="icon-yahoo"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="js/functions.js"></script>

    <!-- Charts JS
    ============================================= -->
    <script src="js/chart.js"></script>
    <script src="js/chart-utils.js"></script>

    <script>

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Red",
                    "Orange",
                    "Yellow",
                    "Green",
                    "Blue"
                ]
            },
            options: {
                responsive: true,
                legend: {
                    display: false,
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Doughnut Chart'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };


        // Radar Chart

        var color = Chart.helpers.color;
        var configRadar = {
            type: 'radar',
            data: {
                labels: [["Eating", "Dinner"], ["Drinking", "Water"], "Sleeping", ["Designing", "Graphics"], "Coding", "Cycling", "Running"],
                datasets: [{
                    label: "My First dataset",
                    backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                    borderColor: window.chartColors.red,
                    pointBackgroundColor: window.chartColors.red,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }, {
                    label: "My Second dataset",
                    backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                    borderColor: window.chartColors.blue,
                    pointBackgroundColor: window.chartColors.blue,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                },]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: false
                },
                scale: {
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("chart-doughnut").getContext("2d");
            window.myDoughnut = new Chart(ctx, config);
            window.myRadar = new Chart(document.getElementById("chart-radar"), configRadar);
        };

    </script>
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
