<section id="slider" class="slider-element slider-parallax full-screen with-header force-full-screen clearfix" style="background: url('images/slide-yarisma-r4-2026.jpg') left center no-repeat; background-size: cover;" data-height-xs="280">

	<!--
	<div class="container-fluid clearfix">
		<div class="slider-caption d-none d-sm-block" style="position: relative; float: right;">
			<div class="heading-block title-center nobottomborder">
				<h1 style="text-transform: none; color: #fff;"><a href="https://ytongakademi.com/sartname.html" style="color:#fff;">Ytong Mimari Fikir Yarışması Başladı</a></h1><br />
				<!-- <a href="universite-seminerleri.html" class="button button-border button-rounded button-fill fill-from-top button-dark button-large"><span>TIKLAYINIZ!</span></a> -- >
			</div>
		</div>

		<div class="vertical-middle center d-sm-none top-90">
			<div class="heading-block title-center nobottomborder">
				<h1 style="text-transform: none; font-size: 24px; color: #fff;"><a href="https://ytongakademi.com/sartname.html" style="color:#fff;">Ytong Mimari Fikir Yarışması Başladı</a></h1><br />
				<!-- <a href="universite-seminerleri.html" class="button button-border button-rounded button-fill fill-from-top button-dark button-large"><span>TIKLAYINIZ!</span></a> -- >
			</div>
		</div>
	</div>
	-->
	<!--
	<div class="container clearfix d-sm-block" style="top:30%; left:10%;">
		<div class="slider-caption">
			<div class="heading-block title-center nobottomborder">
				<p style="text-transform:none; font-family: Helvetica, Arial, sans-serif; text-align: left; font-size: 14px;">22. YTONG Mimari Fikir Yarışması’nın teması “Saatleri Ayarlama Durağı”. Yarışma, Ahmet Hamdi Tanpınar’ın Saatleri Ayarlama Enstitüsü romanındaki “zaman, kimlik ve toplum” gibi evrensel temaları bugünün dönüşüm ve kırılmaları içinde yeniden ele almayı ve romanın ana fikrini bu mercekten yeniden ziyaret etmeyi amaçlıyor; zamanda ileriye ve geriye bakmaya yönelik eleştirel bir durak arayışını ortaya koyuyor.<br/><br/>

				Jüri ve YTONG temsilcileri, tüm öğrencileri ve genç mimarları bu tema doğrultusunda sürece katılmaya ve söz söylemeye davet ediyor.</p>
			</div>
		</div>
	</div>
	-->

	<div class="container-fluid clearfix d-none d-lg-block" style="top: 32.5%;">
		<!--sadece genis desktop versiyonda görünür-->
		<div class="vertical-middle left bottommargin" style="margin-left: 8%;">
			<a href="https://basvuru.ytongakademi.com/" target="_blank" style="margin-top: 33%; background-color: #fbb900;" class="button button-border button-rounded button-fill fill-from-top button-dark button-large"><span>YARIŞMAYA BAŞVURMAK İÇİN TIKLAYIN</span></a>
		</div>
	</div>
</section>

<!-- Tablet ve mobil buton: slider disinda, normal akista -->
<div class="d-none d-sm-block d-lg-none" style="text-align: center; padding: 24px 20px 10px; background: #fff;">
	<a href="https://basvuru.ytongakademi.com/" target="_blank" class="button button-border button-rounded button-fill fill-from-top button-dark button-large" style="background-color: #fbb900; display: inline-block; margin: 0;"><span>YARIŞMAYA BAŞVURMAK İÇİN TIKLAYIN</span></a>
</div>

<div class="d-sm-none" style="text-align: center; padding: 20px 15px 10px; background: #fff;">
	<a href="https://basvuru.ytongakademi.com/" target="_blank" class="button button-border button-rounded button-fill fill-from-top button-dark button-small" style="background-color: #fbb900; display: inline-block; margin: 0;"><span>YARIŞMAYA BAŞVURMAK İÇİN TIKLAYIN</span></a>
</div>

<div class="clear"></div>

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap nopadding">

		<div class="row nopadding align-items-stretch">

			<!-- <div class="col-lg-4 dark col-padding ohidden" style="background-color: #ddb6c6;"> -->
			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #000000;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">ÖDÜLLER</h3>
					<p style="line-height: 1.8;">
						Fikir projeleri arasından, jüri tarafından yapılacak değerlendirme sonucunda 3 eşdeğer proje ödüle layık görülecektir.<br />
						Yarışmanın ödülü, kazanan ekiplerin jüri üyeleri ile birlikte katılacağı mimarlık, tasarım ve sanat odaklı bir yurt dışı ödül seyahatidir.<br />
						Ödül seyahati, yarışma sürecinde alınacak kararlar doğrultusunda ilerleyen tarihlerde belirlenecek bir bölgede gerçekleştirilecek olup, seyahatin tarihi ve detayları daha sonra duyurulacaktır.<br />
						Kazanan kişi veya ekiplerin ödül seyahati kapsamındaki ulaşım, konaklama ve program dâhilindeki etkinlik giderleri Türk YTONG tarafından karşılanacaktır.
					</p>
					<a href="oduller.html" class="button button-border button-light button-rounded uppercase nomargin">DEVAMI</a>
					<!-- <i class="icon-bulb bgicon"></i> -->
				</div>
			</div>

			<!-- <div class="col-lg-4 dark col-padding ohidden" style="background-color: #ac8daf;"> -->
			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #fbb600;">
				<div>
					<h3 class="uppercase" style="font-weight: 600; color: #555;">SORU/YANIT?</h3>
					<p style="line-height: 1.8; color: #555;">Yarışmacılar  31 Mart 2026 günü saat 17:00’a kadar, raportor@ytong.com.tr adresi üzerinden yarışmaya ilişkin sorularını raportörlüğe iletebilirler. Tüm cevaplar 07 Nisan 2026 tarihinde bu sayfada yayınlanacaktır. </p>
					<a href="sss.html" class="button button-border button-light button-rounded uppercase nomargin">DEVAMI</a>
					<!-- <i class="icon-cog bgicon"></i> -->
				</div>
			</div>

			<!-- <div class="col-lg-4 dark col-padding ohidden" style="background-color: #484c7f;"> -->
			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #adadad;">
				<div>
					<h3 class="uppercase" style="font-weight: 600; color: #555;">ŞARTNAME</h3>
					<p style="line-height: 1.8; color: #555;">«Saatleri Ayarlama Durağı: Ytong ile Mekânsal Tezahür» konulu 2026 Ytong Mimari Fikir Yarışması şartnamesine ulaşmak için tıklayın.</p>
					<a href="sartname.html" class="button button-border button-light button-rounded uppercase nomargin">DEVAMI</a>
					<!-- <i class="icon-thumbs-up bgicon"></i> -->
				</div>
			</div>

		</div>

		<div class="clear"></div>

		<div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/parallax-yarisma-1.jpg');"  data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
			<div class="vertical-middle">
				<div class="container clearfix">

					<div class="col_three_fifth nobottommargin">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RsCPLOUhKUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>

					<div class="col_two_fifth col_last nobottommargin">
						<div class="emphasis-title">
							<h2>Mimari Fikir Yarışması</h2>
							<p class="lead topmargin-sm">Genç mimarlar ve mimar adaylarına yönelik olarak, farklı konularda düzenlenen Ytong Mimari Fikir Yarışmaları, gelişmeye açık bir zeminde fikirlerin paylaşılmasına ve tartışılmasına fırsat tanımaktadır.</p>
						</div>
						<a href="videolar.html" class="button button-border button-rounded button-light button-large">DEVAMI</a>
					</div>

				</div>
			</div>
		</div>

		<div class="section parallax full-screen nomargin noborder" style="background-image: url('images/parallax-dersler-1.jpg');" data-bottom-top="background-position:-300px -200px;" data-top-bottom="background-position:-200px -400px;">
			<div class="vertical-middle">
				<div class="container clearfix">

					<div class="col_three_fifth nobottommargin">

						<div class="emphasis-title">
							<h2>Üniversite Dersleri</h2>
							<p class="lead topmargin-sm rightmargin-xlg d-none d-sm-block">Yapılarda Gazbeton Uygulamaları Dersi, 2010 yılından bu yana, kredili ve seçmeli olarak üniversitelerimizin mimarlık bölümlerinde verilmektedir. Mimarlık eğitiminde teori ve pratiği birleştiren ders sayesinde öğrenciler, gazbetonun mimari tasarım ve uygulama alanlarıyla ilişkisini enerji verimliliği, yapı güvenliği ve ekoloji ölçeğinde inceleme ve öğrenme fırsatı bulmaktadırlar.</p>

							<p class="lead topmargin-sm d-sm-none">Yapılarda Gazbeton Uygulamaları Dersi, 2010 yılından bu yana, kredili ve seçmeli olarak üniversitelerimizin mimarlık bölümlerinde verilmektedir. Mimarlık eğitiminde teori ve pratiği birleştiren ders sayesinde öğrenciler, gazbetonun mimari tasarım ve uygulama alanlarıyla ilişkisini enerji verimliliği, yapı güvenliği ve ekoloji ölçeğinde inceleme ve öğrenme fırsatı bulmaktadırlar.</p>

							<a href="#" class="button button-border button-rounded button-dark button-large">DEVAMI</a>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/ytong-parallax-3.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
			<div class="vertical-middle">
				<div class="container clearfix">

					<div class="row">

						<div class="col-lg-4 bottommargin-sm center" data-animate="bounceIn">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-code"></i>
							<div class="counter counter-large counter-lined"><span data-from="1" data-to="20" data-refresh-interval="50" data-speed="2000"></span>+</div>
							<h5>MİMARLIK YARIŞMASI</h5>
						</div>

						<div class="col-lg-4 bottommargin-sm center" data-animate="bounceIn" data-delay="200">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-magic"></i>
							<div class="counter counter-large counter-lined"><span data-from="1" data-to="1000" data-refresh-interval="100" data-speed="2500"></span>+</div>
							<h5>GAZBETON DERSİ MEZUNU</h5>
						</div>

						<div class="col-lg-4 bottommargin-sm center" data-animate="bounceIn" data-delay="400">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-file-text"></i>
							<div class="counter counter-large counter-lined"><span data-from="200" data-to="4000" data-refresh-interval="25" data-speed="3200"></span>+</div>
							<h5>SEKTÖR PROFESYONELİNE ERİŞİM</h5>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="section parallax dark nomargin noborder" style="padding: 150px 0; background-image: url('images/parallax-egitim-1.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
			<div class="container center clearfix">

				<div class="emphasis-title">
					<h2>Eğitim ve Etkinlikler</h2>
					<p class="lead topmargin-sm">Mimar, mühendis ve müteahhitler, usta, kalfa ve öğrencilere yönelik düzenlenen eğitimlerde enerji verimliliği, güvenli ve çevre dostu yapılaşma gibi konularda katılımcılar bilinçlendirilerek sektörün gelişmesine katkı sağlanmaktadır.</p>
				</div>

				<a href="universite-seminerleri.html" class="button button-border button-rounded button-light button-large">ÜNİVERSİTE SEMİNERLERİ</a>
				<a href="sirket-kurum-seminerleri.html" class="button button-rounded button-white button-light button-large">TANITIM SEMİNERLERİ</a>

			</div>
		</div>

	</div>

</section><!-- #content end -->